{% extends "base.html" %}

{% block title %}หน้าแรก - ICT12367{% endblock %}

{% block content %}
<div class="mb-4">
    <h4 style="color: purple;">ยินดีต้อนรับเข้าสู่รายวิชา ICT12367 การใช้กรอบงานสำหรับการพัฒนาเว็บแอปพลิเคชัน เพื่อความมั่นคงปลอดภัย</h4>
</div>

<div class="row gap-4 mb-5">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header bg-white fw-bold">สินค้า</div>
            <div class="card-body d-flex align-items-center">
                <img src="https://picsum.photos/id/1015/300/150" class="img-fluid rounded me-4" alt="สินค้า" style="max-width: 250px;">
                <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aspernatur! Saepe, quis! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header bg-white fw-bold">บริการ</div>
            <div class="card-body d-flex align-items-center">
                <img src="https://picsum.photos/id/1016/300/150" class="img-fluid rounded me-4" alt="บริการ" style="max-width: 250px;">
                <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aspernatur! Saepe, quis! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header bg-white fw-bold">เกี่ยวกับเรา</div>
            <div class="card-body d-flex align-items-center">
                <img src="https://picsum.photos/id/1018/300/150" class="img-fluid rounded me-4" alt="เกี่ยวกับเรา" style="max-width: 250px;">
                <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aspernatur! Saepe, quis! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header bg-white fw-bold fs-5">แสดงแผนที่ใน Google Map</div>
    <div class="card-body p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.331206122502!2d100.5843467148308!3d13.858739990278144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29d00b05b38bd%3A0xc399eb2527aa21c3!2sSripatum%20University!5e0!3m2!1sen!2sth!4v1678873000000!5m2!1sen!2sth" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}